body{
  background-color: black;
}
.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container{
  margin: 20px;
  width: 500px;
  margin-left: 32%;
  margin-top: 10%;
  background-color: rgb(210, 182, 182);
}